# Local
.DS_Store
# Envoirenment file
.env
# Dependency directories
node_modules
# Output folders
**/tests/data/output/*
!**/tests/data/output/.gitkeep
!**/tests/data/input/aosd2.0_import.json
!**/tests/data/input/aosd2.1_import.json
!**/tests/data/input/aosd2.1_jsonObject.json
!**/tests/data/input/test_group_spec_spdx.json
**/data/input/*
!**/data/input/.gitkeep
**/data/output/*
!**/data/output/.gitkeep
# nmp Integrity file
package-lock.json
# error.log
error.log